node_modules/
**/dist/
*.tsbuildinfo

.env
.env.*
!.env.example
!deploy/.env.production.example
deploy/.env
deploy/.last-good-sha
deploy/.previous-good-sha

packages/server/.env

*.log
.DS_Store
.idea/
.vscode/
coverage/

# Added ignores
*.pem
*.apk
*.rar
*.~lock.*
*.tmp
packages/server/tmp/
